<launch>
  <arg name="camera"  		default="camera" />
  <arg name="manager"           default="manager_$(arg camera)" />
  <arg name="machine"/>


  <node machine="$(arg machine)" pkg="nodelet" type="nodelet" name="OpenniWrapperNodelet_$(arg camera)" args="load openni_wrapper/OpenniWrapperNodelet $(arg manager)" output="screen">
    <param name="camera"  value="$(arg camera)" />
  </node>     

</launch>

