<launch>
  <arg name="camera"   		default="camera" />
<!--  
  <node pkg="openni_wrapper" type="openni_wrapper" name="openni_wrapper" output="screen">
    <remap from="rgb/image_raw"        to="$(arg camera)/rgb/image_raw" />
    <remap from="rgb/camera_info"      to="$(arg camera)/rgb/camera_info" />
    <remap from="depth/image_raw"        to="$(arg camera)/depth/image_raw" />
    <remap from="depth/camera_info"      to="$(arg camera)/depth/camera_info" />
    <param name="camera"  value="$(arg camera)"/>
  </node>
-->

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="OpenniWrapperNodelet" args="load openni_wrapper/OpenniWrapperNodelet standalone_nodelet" output="screen">
    <remap from="rgb/image_raw"        to="$(arg camera)/rgb/image_raw" />
    <remap from="rgb/camera_info"      to="$(arg camera)/rgb/camera_info" />
    <remap from="depth/image_raw"        to="$(arg camera)/depth/image_raw" />
    <remap from="depth/camera_info"      to="$(arg camera)/depth/camera_info" />
    <param name="camera"  value="$(arg camera)"/>
  </node>     

</launch>

